// Grid 
// AUTHOR: @amnesiacu
// General column layout, based on flex mixins, not really responsive.

.container{
    margin:         0px auto 0px auto;
    width:          80%;
}

.row{
    @include flex-row;
    width:          100%;
}
.row__center{
    @include flex-row-vertical_center;
    width:          100%;
}

.col-25{
    width:          25%;
}

.col-33{
    width:          33%;
}

.col-50{
    width:          50%;
}

.col-66{
    width:          66%;
}

.col-75{
    width:          75%;
}

.col-100{
    width:          100%;
}

.r-col-50{

    width:          100%;

    @media (min-width: 720px) {
        width:      50%;
    }
}