//THE SCSS FILE
//AUTHOR: @amnesiacu

//Imports
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

// Fonts
$font-head:   'Montserrat', serif;
$font-header: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$font-sub:    'Ubuntu', sans-serif;
$font-text:   'Ubuntu', sans-serif;
$font-mono:   monospace;

//Colors:
$cl-dark:   #525252;
$cl-attn:   #FF6276;
$cl-light:  #EDF4F7;
$cl-yellow: #B58900;

@import 'flex';
@import 'grid';

//Generic
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin:             0px;
    background-color:   $cl-light;
    color:              $cl-dark;
    font-family:        $font-text;

    h1{
        font-family:    $font-head;
    }

    h2, h3, h4{
        font-family:    $font-sub;
    }

    a{
        font-size:          small;
        text-decoration:    none;
        color:              $cl-attn;
        outline:            none;
    }

    p, .text{
        font-size:      small;
        font-family:    $font-text;
    }
}

.btn{
    margin:             0   5px;
    padding:            5px 10px;
    background-color:   transparent;
    border:             1px solid;
    border-color:       $cl-light;
    color:              $cl-light;
    border-radius:      3px;
}

section{
    padding:        20px 0;
}

.text-center{
    text-align:     center;
}

//Navbar 
.navbar{
    @include flex-row-vertical_center;

    position:               absolute;
    top:                    0;
    width:                  100%;
    z-index:                3;
    min-height:             50px;

    &--link{
        color:              $cl-light;
        font-size:          20px;
        font-weight:        800;
        &:hover{
            color:              $cl-attn;
        };
    };
    &--item{
        padding:            0 20px;
        font-family:        $font-header;
        text-transform:     uppercase;
        &__right{
            margin-left:    auto;
        }
    }
}

//Header 
.header{
    background-image:       url('/images/ctb_home_hero.jpg');
    @media (max-width: 1600px) {
        background-image:   url('/images/ctb_home_hero_1600.jpg');
    }
    @media (max-width: 900px) {
        background-image:   url('/images/ctb_home_hero_900.jpg');
    }
    @media (max-width: 500px) {
        background-image:   url('/images/ctb_home_hero_500.jpg');
    }
    background-position:    center;
    background-repeat:      no-repeat;
    background-size:        cover;
    position:               relative;
    height:                 40vh;

    .header--caption{
        position:           absolute;
        bottom:             5vh;
        color:              $cl-light;
        &__highlight{
            border-bottom:  3px solid $cl-attn;
            padding-bottom: 3px;
        }
    }
}

//Intro
#intro{
    .intro-image{
        width:          75%;
        height:         auto;
    }
    .intro-text{
        padding:        5px 20px; 
    }
}

//Slack Invitation
#slack{
    background-color: $cl-dark;
    color: $cl-light;
    .slack-logo{
        padding:    10px;
        height:     150px;
        width:      auto;
    }
}


//footer
.footer{
    padding:            20px 0;
    font-size:          small;
}

#about-intro{
    .about--description {
        padding-left:   25px;
    }
}

#about-team{
    background-color:   $cl-dark;
    color:              $cl-light;
    h3{
        margin-bottom: 5px;
    }
    .founder--image {
        width:          75px;
        height:         auto;
        border-radius:  50%;
        margin-top:     30px;
    }
}

//Mobile Devices: Width  < 550: Full rows
@media (max-width: 550px) {
    .col-sm-full {
        width:          100%;
    }
}

//Mobile Devices: Width  < 780: Full row - buttons
@media (max-width: 780px) {
    .btn-sm-full{
        width:          100%;
        display:        block;
        margin:         5px 0;
    }
}