//THE SCSS FILE
//AUTHOR: @amnesiacu

//Imports
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@font-face {
    font-family: Qanelas;
    src: url("/fonts/Qanelas.otf") format("opentype");
}

// Fonts
$font-head:   'Qanelas', serif;
$font-sub:    'Roboto', sans-serif;
$font-text:   'Roboto', sans-serif;
$font-mono:   monospace;

//Colors:
$cl-dark:   #333333;
$cl-attn:   #03A9f4;
$cl-green:  #00B159;
$cl-light:  #FFFFFF;
$cl-yellow: #B58900;
$cl-red:    #FF6276;

@import 'flex';
@import 'grid';

//Generic
html {
    box-sizing:         border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin:             0px;
    background-color:   $cl-light;
    color:              $cl-dark;
    font-family:        $font-text;

    h1{
        font-family:    $font-head;
    }

    h2, h3, h4{
        font-family:    $font-sub;
    }

    a{
        font-size:          small;
        text-decoration:    none;
        color:              $cl-attn;
        outline:            none;
    }

    p, .text{
        font-size:      small;
        font-family:    $font-text;
    }
}

.btn{
    margin:             0   5px;
    padding:            5px 10px;
    background-color:   transparent;
    border:             1px solid $cl-light;
    color:              $cl-light;
    border-radius:      3px;
    &--attn{
        background-color: $cl-attn;
    }
    &--green{
        background-color: $cl-green;
    }
    &--dark{
        background-color: $cl-dark;
    }
}

section{
    padding:        20px 0;
}

.text-center{
    text-align:     center;
}
.text-right{
    text-align:     right;
}

//Navbar 
.navbar{

    position:               absolute;
    top:                    0;
    width:                  100%;
    z-index:                999;
    height:                 inherit;



    .container{

        @include flex-row-vertical_center;

        margin:             auto;
        height:             50px;
    }

    &--link{
        color:              $cl-light;
        font-size:          1.0em;
        font-weight:        800;
        text-shadow:        0 0 5px rgba(0,0,0,.85);

        &:hover{
            border-bottom:  5px solid $cl-attn;
        }

    }

    &--img-link{
        display:        flex;
        align-items:    center;
    }

    &--item{

        padding:            0 20px;
        font-family:        $font-head;
        text-transform:     uppercase;

        &__right{
            margin-left:    auto;
        }

    }
}

//Header

header{

    @include flex-row-vertical_center;

    background:             url('/images/ctb_home_hero_500.jpg') no-repeat center;
    background-size:        cover;
    height:                 350px;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;



    .header--color-overlay{

      width:                100%;
      height:               100%;
      background-color:     rgba(0,0,0,0.2);

    }

    .container{

      @include flex-row-vertical_center;

      height:             60%;
      align-content:      space-between;


    }

    .header--caption{

        color:              $cl-light;
        text-shadow:        0 0 5px rgba(0,0,0,.75);
        width:              100%;
        display:            flex;
        flex-direction:     column;
        align-content:      center;
        margin:             0;
        padding:            0;
        font-size:          1.4em;

    }

    .caption--underline{

        height:             10px;
        background-color:   $cl-attn;
        width:              25%;
        border-radius:      10px;
        margin-top:         -12px;

    }

    .header--slack-wrap{

        margin-left: auto;
        width: 100%;
        padding: 20px;
        height: auto;
        background-color: #fff;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.75);

        form{

            margin:0;
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            .slack-wrap__section{

                @include flex-row-vertical_center;
                flex: 1;

            }

            label{
                margin: 0;
                color: #000;
                font-size: 0.8em;
                font-weight: bolder;
                padding: 0 0 0 5px;
                height: 25px;

                a{
                    color: $cl-attn;
                    font-size: 1em;
                }
            }

            input[type=email]{

                width:            calc(100% - 50px);
                height:           40px;
                padding-left:     15px;
                border:           none;
                border-bottom:    1px solid #ccc;
                outline:          none;
                font-size:        0.7em;

                &:focus{
                    border:none;
                    border-bottom: 1px solid $cl-red;
                }

            }

            button{

                margin-left:      auto;
                height:           30px;
                width:            30px;
                border:           none;
                background:       $cl-red url("/images/send.png") no-repeat center;
                background-size:  75%;
                border-radius:    50%;
                padding-right:    5px;
                cursor:           pointer;

            }

        }

    }

    @media (min-width: 500px) {

        background-image:   url('/images/ctb_home_hero_900.jpg');

    }

    @media (min-width: 900px){

        background-image:   url('/images/ctb_home_hero.jpg');
        padding-top:        0px;

        .header--caption{

          font-size:           2em;

        }

        .header--slack-wrap {

          margin-left:      auto;
          width:            80%;
          padding:          30px;

          form{

            label{
              font-size:      0.95em;
              height:         35px;
            }

            input[type=email] {
              width:          calc(100% - 100px);
              font-size:      0.8em;
            }

            button{
              width:          40px;
              height:         40px;
            }

          }

        }

    }

}

nav{

    @include flex-row-vertical_center;

    flex-direction:             column;
    width:                      100%;
    position:                   relative;

    #nav{

        @include flex-row-vertical_center;

        width:                  100%;
        background-color:       #eee ;
    }

    .nav-item{

        flex:                   1;
        text-align:             center;
        font-weight:            bold;
        display:                flex;
        align-items:            center;

        a{

            color:              $cl-dark;
            font-size:          0.85em;
            width:              100%;
            height:             50px;
            line-height:        50px;

        }

        .active{

            color:              $cl-red;

        }

    }

    .nav_indication{
        width:                      100%;
        height:                     3px;


        #progress-bar{

            height:                 100%;
            background-color:       $cl-red;
            float:                  left;

        }


         #circle{

             margin-top:            -4px;
             background-color:      #fff;
             border:                3px solid $cl-red;
             border-radius:         50%;
             width:                 11px;
             height:                11px;
             float:                 left;

         }

     }


}

.section--heading{

    @include flex-row-vertical_center;

    margin-bottom:              50px;
    margin-top:                 50px;
    align-items:                flex-start;

    .section-header-line{

        height:                 1px;
        width:                  10%;
        background-color:       #111;

    }

    h2{

        padding:                0;
        margin:                 0 0 0 25px;
        color:                  #111;
        font-family:            "Qanelas", serif;
        line-height:            0px;

    }

}


//Intro
#intro{

    .about-image{
        position: relative;
        width: 50%;
        height: auto;
        margin: auto;
        display: block;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    }

    .intro{


        &--main-introduction{

            margin-top: 50px;
            margin-bottom: 100px;

            .text--wrap{
                margin-top: 75px;
                width: 100%;
                line-height: 1.5em;
                font-size: 1.2em;

            }

        }

        @media (min-width: 900px){

            &--main-introduction{

                .text--wrap{
                    margin-top: 0px;
                    width:      40%;
                    padding-left: 25px;
                }
            }



        }

    }

    .intro--section {

      display:              flex;
      align-items:          flex-start;
      align-content:        space-around;
      margin-bottom:        50px;

      .intro--text-wrap{
        width:              calc(90% - 50px);
        margin-left:        auto;
      }

    }

    h3{
      width:                100%;
      font-family:          $font-head;
      font-size:            1.1em;
      color:                $cl-attn;
      margin:               0;
      padding:              0;
    }

    .intro-image{
        width:              50px;
        height:             auto;


    }
    .intro-text{
        width:              100%;
        line-height:        1.7em;
        font-size:          0.80em;
    }

    @media (min-width: 900px){

        .intro-text{
            width:          75%;
        }

    }

}

.dark-section{
    background-color: $cl-dark;
    color: $cl-light;
}


//Slack Invitation
#slack{
    background-color: $cl-dark;
    color: $cl-light;
    height: 1000px;
}

.slack-logo{
    padding:    10px;
    height:     150px;
    width:      auto;
}


//footer
.footer{
    padding:            20px 0;
    font-size:          small;
}

#about-intro{
    h1{
        margin: 5px 0;
    }
}


.about--description{
    text-align: justify;
}

#about-team{
    background-color:   $cl-dark;
    color:              $cl-light;

    h1,h3{
        margin: 5px 0;
    }
    .founder--image {
        width:          75px;
        height:         auto;
        border-radius:  50%;
        margin-top:     30px;
    }
}

//Mobile Devices: Width  < 550: Full rows
@media (max-width: 550px) {
    .col-sm-full {
        width:          100%;
    }
}

//Mobile Devices: Width  < 780: Full row - buttons
@media (max-width: 780px) {
    .btn-sm-full{
        width:          100%;
        display:        block;
        margin:         5px 0;
    }
}

.slack-header{
    @include flex-row-vertical_center;
}