<!DOCTYPE html>
<html lang='en'>
    <head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no' />
        <meta name='application-name' content='CryptoTradingWebsite'/>

        <title>CTB - 404 - Not Found</title>
        <base href='/'>

        <link rel='icon' 
            sizes='192x192' href='images/ctb-logo-tr.png'>
        <link rel='apple-touch-icon' 
            sizes='128x128' href='images/ctb-logo.jpg'>


        <link rel='stylesheet' href='styles/ctb_style.css' type='text/css' media='all' />
    </head>

    <body>
        <nav class='navbar'>
            <div class='navbar--item navbar--item__right'>
                <a href='/about' class='navbar--link'>About</a>
            </div>
            <div class='navbar--item navbar--item'>
                <a href='/contact' class='navbar--link'>Contact</a>
            </div>
        </nav>
        <header class='header'>
            <div class="container">
                <div class="header--caption">
                    <h1>404<br><span class="header--caption__highlight">Not Found</span></h1>
                </div>
            </div>
        </header>
        <footer class='footer'>
            <div class='container'>
                <a href="sitemap">Sitemap</a>   |   © 2017 All rights reserved
            </div>
        </footer>
    </body>
</html>
