<!DOCTYPE html>
<html lang='en'>
    <head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no' />
        <meta name='application-name' content='CryptoTradingWebsite'/>

        <title> Crypto Trading Belgium - Contact</title>
        <base href='/'>

        <link rel='icon' 
            sizes='192x192' href='images/ctb_logo.jpg'>
        <link rel='apple-touch-icon' 
            sizes='128x128' href='images/ctb_logo.jpg'>


        <link rel='stylesheet' href='styles/ctb_style.css' type='text/css' media='all' />
    </head>

    <body>
        <nav class='navbar'>
            <div class='navbar--item navbar--item__right'>
                <a href='http://51.255.170.22:4567' target="_blank" class='navbar--link'>ICO</a>
            </div>
            <div class='navbar--item navbar--item'>
                <a href='/about' class='navbar--link'>About</a>
            </div>
            <div class='navbar--item navbar--item'>
                <a href='/contact' class='navbar--link'>Contact</a>
            </div>
        </nav>
        <header class='header'>
            <div class='container'>
                <div class='header--caption'>
                    <h1> <a href='/'>< Home</a> <br><span class='header--caption__highlight'>Contact</span></h1>
                </div>
            </div>
        </header>

        <section id='about-intro'>
            <div class='container'>
                <div class='row'>
                    <div class='col-100 text-center'>
                        <h1> Join us on Slack!</h1>
                        <img class='slack-logo' src='images/ctb_slack_logo.png' alt='Slack Logo'>
                        <div class='row text-center'>
                            <div class='container text-center'>
                                <a class='btn btn--dark btn-sm-full' href='https://slack.com/downloads'>
                                    Download Slack
                                </a>
                                <a class='btn btn--green btn-sm-full' href='https://join.slack.com/cryptotradingbelgium/shared_invite/MjAyMDM1NTg3MDA4LTE0OTgyMzQwMjMtZTBlODFjYjRlYQ'>
                                    Find us on Slack
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--<section id='about-intro'>
            <div class='container'>
                <div class='row'>
                    <div class='col-sm-full col-33'>
                        <h1> Social Media </h1>
                    </div>
                    <div class='col-sm-full col-33'>
                        <div class='about--description'>
                            <h3>Facebook</h3>
                            <p> Follow us on Facebook! </p>
                        </div>
                    </div>
                    <div class='col-sm-full col-33'>
                        <div class='about--description'>
                            <h3>Twitter</h3>
                            <p> Follow us on Twitter! </p>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-full col-33'>
                    </div>
                    <div class='col-sm-full col-33'>
                        <div class='about--description'>
                            <h3>Github</h3>
                            <p> Watch us on Github! </p>
                        </div>
                    </div>
                    <div class='col-sm-full col-33'>
                        <div class='about--description'>
                            <h3>Email</h3>
                            <p> Shoot us an email!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <section id='about-team'>
            <div class='container'>
                <div class='row'>
                    <div class='col-sm-full col-66'>
                        <h3>Next Meetup:</h3>
                        <p> 22/07/2017 @ Gent </p>
                        <p>
                            <small>[
                                <a href="https://www.facebook.com/groups/p2p.gent" target="_blank">P2P.Gent</a>, 
                                <a href="https://www.meetup.com/nl-NL/P2P-Gent/" target="_blank">meetup.com</a> ]
                            </small>
                        </p>
                    </div>
                    <div class='col-sm-full col-33 text-center'>
                        <h1> Calendar </h1>
                    </div>
                </div>
            </div>
        </section>
        <footer class='footer'>
            <div class='container'>
                <a href='sitemap'>Sitemap</a>   |   © 2017 All rights reserved
            </div>
        </footer>
    </body>
</html>
